body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/img/pexels-pixabay-209831.jpg");
    background-size: cover;
}

.search-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.weather-card {}